Serious encoding problem

Hi @mxcl ,
I have an encoding problem. I know TDPCEN is used to encode parameters that we want to put it to the URL, but I think the allowedCharacters is not correct.

https://github.com/tweetdeck-archive/TDOAuth/blob/ae2c28edff37ee844cc5732870a10c75215c9384/TDOAuth.m#L37

#define TDPCEN(s) \
      ([[s description] stringByAddingPercentEncodingWithAllowedCharacters:[[NSCharacterSet characterSetWithCharactersInString:@"^!*'();:@&=+$,/?%#[] "] invertedSet]])

For example, 
Input:
{
    q = "insert into db ( jsonData ) values ( '{\"a\":\"b\",\"c\":\"d\"}' )";
}
TDPCEN("q")
TDPCEN("insert into db ( jsonData ) values ( '{\"a\":\"b\",\"c\":\"d\"}' )")

Output:
q=insert%20into%20db%20%28%20jsonData%20%29%20values%20%28%20%27{"a"%3A"b"%2C"c"%3A"d"}%27%20%29

We notice that {, } and " are not encoded, and it cause NSURL to be nil.
It may occur in https://github.com/tweetdeck-archive/TDOAuth/blob/ae2c28edff37ee844cc5732870a10c75215c9384/TDOAuth.m#L280

I have an idea to solve the problem.
Just replace [[NSCharacterSet characterSetWithCharactersInString:@"^!*'();:@&=+$,/?%#[] "] invertedSet]] with [NSCharacterSet URLQueryAllowedCharacterSet] to correct it.

What do you think?

The OAuth specification has the following to say on percent encoding:

https://tools.ietf.org/html/rfc5849#section-3.6

```
 Existing percent-encoding methods do not guarantee a consistent
   construction of the signature base string.  The following percent-
   encoding method is not defined to replace the existing encoding
   methods defined by [RFC3986] and [W3C.REC-html40-19980424].  It is
   used only in the construction of the signature base string and the
   "Authorization" header field.

   This specification defines the following method for percent-encoding
   strings:

   1.  Text values are first encoded as UTF-8 octets per [RFC3629] if
       they are not already.  This does not include binary values that
       are not intended for human consumption.

   2.  The values are then escaped using the [RFC3986] percent-encoding
       (%XX) mechanism as follows:

       *  Characters in the unreserved character set as defined by
          [RFC3986], Section 2.3 (ALPHA, DIGIT, "-", ".", "_", "~") MUST
          NOT be encoded.

       *  All other characters MUST be encoded.

       *  The two hexadecimal characters used to represent encoded
          characters MUST be uppercase.

   This method is different from the encoding scheme used by the
   "application/x-www-form-urlencoded" content-type (for example, it
   encodes space characters as "%20" and not using the "+" character).
   It MAY be different from the percent-encoding functions provided by
   web-development frameworks (e.g., encode different characters, use
   lowercase hexadecimal characters).
```

So indeed, seems we are skipping encoding on too much, but we can't just encode everything or we violate the spec.

Got it, thanks for providing the spec for me. I understand we should tune the allowedCharacters rather than use [NSCharacterSet URLQueryAllowedCharacterSet] to conform the spec.

And I found another interesting thing is after replacing deprecated method CFURLCreateStringByAddingPercentEscapes with stringByAddingPercentEncodingWithAllowedCharacters:(Ref: PR #19, #21). The result is different.

https://github.com/tweetdeck-archive/TDOAuth/pull/19
https://github.com/tweetdeck-archive/TDOAuth/pull/21

For exmaple
Input: @"1-2.3_a~'%\"{}()?!:;|$&"

// Before PRs
#define TDPCEN(s) \
((__bridge_transfer NSString *)CFURLCreateStringByAddingPercentEscapes(NULL, (__bridge CFStringRef)[s description], NULL, CFSTR("!*'();:@&=+$,/?%#[]"), kCFStringEncodingUTF8))

Output:
1-2.3_a~%27%25%22%7B%7D%28%29%3F%21%3A%3B%7C%24%26


// After PRs
#define TDPCEN(s) \
([[s description] stringByAddingPercentEncodingWithAllowedCharacters:[[NSCharacterSet characterSetWithCharactersInString:@"^!*'();:@&=+$,/?%#[] "] invertedSet]])
Output:
1-2.3_a~%27%25"{}%28%29%3F%21%3A%3B|%24%26


PR welcome.

Merged.

CocoaPods has 1.1.5 now.

Also, thanks, this was a high quality PR.